<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130629130990-jvi5l46kfdesa91n2bq1abb520vl75ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130629130990-jvi5l46kfdesa91n2bq1abb520vl75ic</string>
	<key>API_KEY</key>
	<string>AIzaSyDzw-icXggknxysSLOMwT0TzREO_LuyB2k</string>
	<key>GCM_SENDER_ID</key>
	<string>130629130990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appStudio</string>
	<key>PROJECT_ID</key>
	<string>appstudio-96f11</string>
	<key>STORAGE_BUCKET</key>
	<string>appstudio-96f11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130629130990:ios:bd437616c76d9520</string>
	<key>DATABASE_URL</key>
	<string>https://appstudio-96f11.firebaseio.com</string>
</dict>
</plist>